#welcoming-header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding: 5vw;
}
#ultimateresume-header {
  font-size: 52px;
  max-width: 50vw;
  font-weight: 700;
}
#ultimateresume-description {
  color: black;
  font-size: 1.7vw;
  max-width: 80vw;
}
#tryforfree-button {
  width: 18vw;
  height: 6vw;
  padding: 2vw;
  background-color: blue;
  color: white;
  font-size: 2.2vw;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}
#tryforfree-button:hover {
  background-color: rgb(3, 3, 155);
}
.mainpage-welcome-img {
  width: 80%;
}
#button-andarrow-container {
  display: flex;
  align-items: center;
}
#down-pointing-arrow {
  margin-left: 30px;
  width: 8vw;
  height: 8vw;
  transition: 0.6s;
  transform: rotate(90deg);
  animation: arrowBounce 1s infinite;
}

@keyframes arrowBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
