#navbar-container{
    height: 10vw;
    background-color: rgb(255, 193, 117);
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(210, 193, 11);
}
#navbar-icon-container{
    position: relative;
}
#navbar-icon{
    height: 15vw;
    top: -2.5vw;
    position: relative;
}
#navbar-links-container{
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
}
#logout-icon{
    height: 5vw;
}
.navbar-headers{
    font-size: 3.2vw;
    color: rgb(226, 89, 47);
    /* -webkit-text-stroke: 0.3px rgb(8, 10, 150); */
    position: relative;
}
.navbar-headers:before{
    content: "";
    position: absolute;
    width: 0;
    height: 1.5px;
    background-color: white;
    z-index: 1;
    bottom: -0.5vw;
    left: 50%;
    transition: 0.6s;
}
.navbar-headers:hover::before{
    width: 100%;
    left: 0;
}